<div id="twelve-days-module-container">
  <div id="twelve-days-module-inner-container">
    <p class="text-center" id ="daily-deals-header"><img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-exsclusive-deals.png?v=1637295245" /></p>
    <div id="arrows-container">
      <div id="left-arrow-holder">
        <img class="twelve-days-slider-arrow desktop-only" src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-left-arrow-icon-desktop.png?v=1637262689" />
        <img class="twelve-days-slider-arrow mobile-only" src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-left-arrow-icon-mobile.png?v=1637274003" />
      </div>
      <div id="right-arrow-holder">
        <img class="twelve-days-slider-arrow twelve-day-right-arrow desktop-only" src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-right-arrow-icon-desktop.png?v=1637265983" />
        <img class="twelve-days-slider-arrow twelve-day-right-arrow mobile-only" src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-right-arrow-icon-mobile.png?v=1637274016" />
      </div>
    </div>
    <div id="twelve-days-slider">
      <div class="background-slide">
        <a href="https://forkingandcountry.lnk.to/GrandPrize" target="_blank">
      		<img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-1_37b856f3-41ac-4e2f-aab1-a3bf306669ef.png?v=1638546420" />
        </a>
      </div>
      <div class="background-slide">
        <a href="https://www.forkingandcountry.com/collections/12-days-of-christmas-day-2">
      		<img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-2.png?v=1637612883" />
        </a>
      </div>
      <div class="background-slide">
        <a href="https://www.forkingandcountry.com/collections/vinyl">
      		<img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-3_9c41337d-1a43-4d3b-b4bc-a519b100d922.png?v=1638368048" />
        </a>
      </div>
      <div class="background-slide">
        <a href="https://forkingandcountry.lnk.to/Day4" target="_blank">
      		<img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-4.png?v=1637612883" />
        </a>
      </div>
      <div class="background-slide">
        <a href="http://www.facebook.com/forkingandcountry" target="_blank">
      		<img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-5_b3229d26-1085-40ba-98d3-6a181786e440.png?v=1638546420" />
        </a>
      </div>
      <div class="background-slide">
        <a href="https://www.forkingandcountry.com/collections/drummer-boy-christmas-2021/products/drummer-boy-grey-tee">
      		<img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-6_669e6707-1a05-4484-8d8e-acfcd4faa853.png?v=1638368049" />
        </a>
      </div>
      <div class="background-slide">
        <a href="sms://+16152579555">
      		<img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-7.png?v=1637612883" />
        </a>
      </div>
      <div class="background-slide">
        <a href="https://www.forkingandcountry.com/collections">
      		<img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-8.png?v=1637612883" />
        </a>
      </div>
      <div class="background-slide">
        <a href="https://www.forkingandcountry.com/pages/tour">
      		<img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-9_faca2786-6a24-46a7-9b68-c6017c4a5e89.png?v=1638546420" />
        </a>
      </div>
      <div class="background-slide">
        <a href="https://www.forkingandcountry.com/collections">
      		<img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-10_1.png?v=1639064370" />
        </a>
      </div>
      <div class="background-slide">
        <a href="https://smarturl.it/DBLivestream" target="_blank">
      		<img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-11_0f2aa78f-624f-4316-a80f-7969d40c0961.png?v=1638560770" />
        </a>
      </div>
      <div class="background-slide">
        <a href="https://forkingandcountry.lnk.to/GrandPrize" target="_blank">
      		<img src="https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-12_2cf04760-8101-48dd-8724-5d188156cc24.png?v=1638546420" />
        </a>
      </div>
    </div>
    <div id="twelve-days-slider-nav">
      <div class="slide-nav"></div>
      <div class="slide-nav"></div>
      <div class="slide-nav"></div>
      <div class="slide-nav"></div>
      <div class="slide-nav"></div>
      <div class="slide-nav"></div>
      <div class="slide-nav"></div>
      <div class="slide-nav"></div>
      <div class="slide-nav"></div>
      <div class="slide-nav"></div>
      <div class="slide-nav"></div>
      <div class="slide-nav"></div>
    </div>
    <p id="scroll-text">SCROLL THROUGH TO SEE ALL DEALS</p>
  </div>
</div>

{% schema %}
  {
    "name" : "12 Days Module",
    "class" : "twelve-days-module",
    "settings" : [
      {
        "type": "image_picker",
        "id": "backgroundImage",
        "label": "Background Image - Desktop"
      },
      {
        "type": "image_picker",
        "id": "TwelveDaysLogo",
        "label": "Twelve Days Logo - Desktop"
      },
      {
        "type": "text",
        "id": "introduction",
        "label": "Introduction"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "SIGN UP NOW"
      }
    ],
    "presets": [{
      "name": "12 Days Module",
      "category": "Image"
    }]
  }
{% endschema %}

<style>
  #twelve-days-module-container {
    background: linear-gradient(2.54deg, #072A40 100%, rgba(7, 42, 64, 0) 83.92%);
    padding-bottom: 5rem;
  }
  #twelve-days-module-inner-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  #daily-deals-header {
    max-width: 88%;
    width: 600px;
    margin: -1px auto 0;
    padding-left: 7%;
  }
  #twelve-days-slider {
    text-align: center;
  }
  #twelve-days-slider img {
    width: 567px;
  }
  .selected-slide {
    position: relative;
    z-index: 10;
  }
  #arrows-container {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 21;
    left: 0;
    padding-top: 9rem;
  }
  #arrows-container img:hover {
    cursor: pointer;
  }
  #left-arrow-holder {
    position: absolute;
    float: left;
    left: 10vw;
  }
  #right-arrow-holder {
    position: absolute;
    float: right;
    right: 10vw;
  }
  .background-slide {
    opacity: 25%;
  }
  #twelve-days-slider-nav {
    text-align: center;
  }
  .slide-nav {
    background: #CFD6D8;
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }
  .slide-nav.active {
    background: #551F2D;
  }
  #scroll-text {
    color: #FDFFFF;
    font-size: 125%;
    margin-top: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 767px) {
    #twelve-days-slider {
      height: 735px;
    }
    #twelve-days-slider .before-selected-slide {
      margin-top: 0;
      margin-bottom: -742px;
    }
    .background-slide {
      position: relative;
      margin-top: -742px;
      opacity: 25%;
    }
  }
  @media screen and (max-width: 767px) {
    #daily-deals-header {
      padding-left: 10%;
    }
    #twelve-days-module-container {
      padding-bottom: 3rem;
    }
    #twelve-days-slider {
      width: 100%;
    }
    #left-arrow-holder {
      left: 5vw;
    }
    #right-arrow-holder {
      right: 5vw;
    }
    #twelve-days-slider {
      height: 441px;
    }
    .selected-slide {
      margin: 0 auto;
      max-width: 80%;
      left: 10%;
      position: absolute;
    }
    .background-slide {
      margin: 0 auto;
      max-width: 80%;
      position: absolute;
    }
    .slide-nav {
      background: #CFD6D8;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      display: inline-block;
      margin-right: 8px;
    }
  }
</style>

<script>
$( document ).ready(function() {
  
  //Check if page is mobile
  var mobile = false;
  if ($(window).width() < 766) {
    mobile = true;
  }
  
  //Set a height for the slider
  setTimeout(function(){ 
    var imgHeight = $('#twelve-days-slider > div:first-of-type img').height();
    if (imgHeight > 100) {
    	$('#twelve-days-slider').height(imgHeight);
      console.log('test');
    }
                       }, 1000);
  
  //Determine the date here
  //var today = new Date();
  var today = new Date("2021-12-03");
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  var yyyy = today.getFullYear();
  
  var currentSlide = dd - 1;
  //var currentSlide = 0; //Just for debug purposes
  $('#twelve-days-slider-nav .slide-nav:nth-child('+ (currentSlide + 1) +')').addClass('active');
  
  //Setup the slider
  $('#twelve-days-slider > div').each(function(index, slide) {
    
    if (index != currentSlide) {
      
      //Calculate slide difference
      var slideDiff = index - currentSlide;
      
      //Set slider variables
      var slideRange = 3;
      var spacingDifference = 9;
      if (mobile) {
        slideRange = 2;
      	spacingDifference = 10;
      }
      
      //Hide out of range slides
      if (slideDiff > slideRange || slideDiff < (slideRange * -1)) {
        $(this).hide();
      }
      
      //Adjust slide placement based on being before or after selected slide      
      if (slideDiff > 0) {
        //Block future days
        var blockImgURL = '';
        switch(index) {
            
          case 0:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-1-comming-soon.png?v=1637612530';
            break;
            
          case 1:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-2-comming-soon.png?v=1637612530';
            break;
            
          case 2:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-3-comming-soon.png?v=1637612530';
            break;
            
          case 3:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-4-comming-soon.png?v=1637612529';
            break;
            
          case 4:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-5-comming-soon.png?v=1637612530';
            break;
            
          case 5:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-6-comming-soon.png?v=1637612530';
            break;
            
          case 6:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-7-comming-soon.png?v=1637612530';
            break;
            
          case 7:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-8-comming-soon.png?v=1637612530';
            break;
            
          case 8:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-9-comming-soon.png?v=1637612530';
            break;
            
          case 9:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-10-comming-soon_397958f9-90da-4f1c-aceb-bf2fcc3ddf9b.png?v=1639082206';
            break;
            
          case 10:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-11-comming-soon_9a677db6-8021-4c5d-a27b-a4b6912b04b0.png?v=1639082299';
            break;
            
          case 11:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-12-comming-soon_e6704c4d-e109-492e-81c9-c3bf9e03333e.png?v=1639082309';
            break;
            
        }
        $(this).find('img').attr('src', blockImgURL);
        $(this).find('a').attr('href', 'https://www.tunespeak.com/campaign/618c2e95cb6a38000136cc72');
        $(this).css("transform", 'scale(' + (1 - (slideDiff * .07)) + ')');
        $(this).css("z-index", 10 - slideDiff);
        if (mobile) {
      		$(this).css("right", (slideDiff - 1) * (spacingDifference * -1) + 'vw');
        } else {
      		$(this).css("margin-left", slideDiff * spacingDifference + 'vw');
        }
      } else {
        //Show past days as expired
        var blockImgURL = '';
        switch(index) {
            
          case 1:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-2-expired.png?v=1637613312';
            break;
            
          case 2:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-3-expired_4cc68391-3e2e-4f3d-9515-c3a1b5c7cc96.png?v=1638368153';
            break;
            
          case 3:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-4-expired.png?v=1637613312';
            break;
            
          case 4:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-5-expired_5e4574a7-6d08-47dc-97df-6aa1d20498bd.png?v=1638560770';
            break;
            
          case 5:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-6-expired_944a237c-568b-419d-9dfb-2ad216199d27.png?v=1638368153';
            break;
            
          case 6:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-7-expired_f00bf29a-5468-40cd-a6a1-8c4398ac33be.png?v=1638560770';
            break;
            
          case 7:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-8-expired.png?v=1637613312';
            break;
            
          case 8:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-9-expired_0d5c8af4-f3bb-43d9-b20a-2527f0f63d59.png?v=1638560770';
            break;
            
          case 9:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-10-expired_3549ef22-f9a2-420c-a831-5b5b81f2a40d.png?v=1639064370';
            break;
            
          case 10:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-11-expired_0826fa47-bb80-41bd-b64d-3d36e0bb967f.png?v=1638560770';
            break;
            
          case 11:
            blockImgURL = 'https://cdn.shopify.com/s/files/1/1250/3061/files/fknc-day-12-expired.png?v=1637613312';
            break;
            
        }
        if (blockImgURL != '') {
        	$(this).find('img').attr('src', blockImgURL);
        }
        $(this).addClass('before-selected-slide');
        slideDiff = slideDiff * -1;
        $(this).css("transform", 'scale(' + (1 - (slideDiff * .07)) + ')');
        $(this).css("z-index", 10 - slideDiff);
        if (mobile) {
      		$(this).css("left", (slideDiff - 1) * (spacingDifference * -1) + 'vw');
        } else {
      		$(this).css("margin-left", slideDiff * (spacingDifference * -1) + 'vw');
        }
      }
      
    } else {
      
      //Is the current slide
      $(this).addClass('selected-slide');
      $(this).removeClass('background-slide');
      
    }
    
  });
  
  //Right arrow clicked on slider
  $('.twelve-days-slider-arrow').click(function() {
    
    //Set the slider height based on current screen resolution (keeps from jumping)
    var sliderHeight = $('#twelve-days-slider').height();
    $('#twelve-days-slider').css('height', sliderHeight);
  
    //Determine the slide here
    var oldCurrentSlide = currentSlide;
    var okayToSlide = true;
    if ($(this).hasClass('twelve-day-right-arrow')) {
      if (currentSlide == 11) {
        okayToSlide = false;
      } else {
    	currentSlide = currentSlide + 1;
      }
    } else {
      if (currentSlide == 0) {
        okayToSlide = false;
      } else {
    	currentSlide = currentSlide - 1;
      }
    }
    if (okayToSlide) {
      
      
      $('#twelve-days-slider-nav .slide-nav.active').removeClass('active');
      $('#twelve-days-slider-nav .slide-nav:nth-child('+ (currentSlide + 1) +')').addClass('active');

      //Setup the slider
      $('#twelve-days-slider > div').each(function(index, slide) {

        if (index != currentSlide) {

          //Calculate slide difference
          var slideDiff = index - currentSlide;

          //Set slider variables
          var slideRange = 3;
          var spacingDifference = 9;
          if (mobile) {
            slideRange = 2;
            spacingDifference = 10;
          }

          //Hide out of range slides
          if (slideDiff > slideRange || slideDiff < (slideRange * -1) ) {
            $(this).hide();
          } else {
            $(this).show();
          }

          //Calculate slide placement
          var newMargin = '';
          if (mobile) {
            if (slideDiff > 0) {
              newMargin = (slideDiff - 1) * (spacingDifference * -1) + 'vw';
            } else {
              newMargin = (slideDiff * -1 - 1) * (spacingDifference * -1) + 'vw';
            }
          } else {
            newMargin = slideDiff * spacingDifference + 'vw';
          }

          //Adjust slide placement based on being before or after selected slide 
          var newScale = (1 - (slideDiff * .07));
          var newIndex = 10 - slideDiff;     
          if (slideDiff > 0) {
            $(this).removeClass('before-selected-slide');
          } else {
            $(this).addClass('before-selected-slide');
            newScale = (1 - (slideDiff * .07 * -1));
            newIndex = 10 - slideDiff * -1; 
          }

          //Was this the previously selected slide?
          if (index == oldCurrentSlide) {

            if (mobile) {

              if (slideDiff > 0) {
                //Animate slide movement
                $(this).css("transform", "scale(" + newScale + ")");
                $(this).css("z-index", newIndex);
                $(this).css("left", '');
                $(this).removeClass('selected-slide');
                $(this).addClass('background-slide');
                $(this).animate({right: newMargin, opacity: "25%"},
                                {
                  complete: function(){
                  }
                });
              } else {
                //Animate slide movement
                $(this).css("transform", "scale(" + newScale + ")");
                $(this).css("z-index", newIndex);
                $(this).removeClass('selected-slide');
                $(this).addClass('background-slide');
                $(this).css("right", '');
                $(this).animate({left: newMargin, opacity: "25%"},
                                {
                  complete: function(){
                  }
                });
              }
            } else {
              //Animate slide movement
                  $(this).css("transform", "scale(" + newScale + ")");
                  $(this).css("z-index", newIndex);
                  $(this).removeClass('selected-slide');
                  $(this).addClass('background-slide');
              $(this).animate({marginLeft: newMargin, opacity: "25%"},
                              {
                complete: function(){
                }
              });
            }


          } else {

            //Not the old selected slide
            if (mobile) {

              if (slideDiff > 0) {

                //Animate slide movement
                $(this).addClass('background-slide');
                $(this).css("transform", "scale(" + newScale + ")");
                $(this).css("z-index", newIndex);
                console.log(index + '::: ' + newMargin);
                $(this).animate({right: newMargin, opacity: "25%"},
                                {
                  complete: function(){
                  }
                });

              } else {

                //Animate slide movement
                $(this).addClass('background-slide');
                $(this).css("transform", "scale(" + newScale + ")");
                $(this).css("z-index", newIndex);
                $(this).css("right", '');
                $(this).animate({left: newMargin, opacity: "25%"},
                                {
                  complete: function(){
                  }
                });

              }


            } else {
              //Animate slide movement
              $(this).addClass('background-slide');
              $(this).css("transform", "scale(" + newScale + ")");
              $(this).css("z-index", newIndex);
              $(this).animate({marginLeft: newMargin, opacity: "25%"},
                              {
                complete: function(){
                }
              });
            }

          }

        } else {

          //Is the current slide
          $(this).css("transform", "scale(1)");
          $(this).removeClass('background-slide before-selected-slide');
          $(this).addClass('selected-slide');
          $(this).css("z-index", "10");
          if (mobile) {
            $(this).animate({left: "10%", opacity: "100%"},
                            {
                                complete: function(){
                                  $(this).css("right", "");
                                }
                            });
          } else {
            $(this).animate({marginLeft: "0", opacity: "100%"},
                            {
                                complete: function(){
                                }
                            });
          }

        }

      });
      
    }
    
    
  });
});
</script>